# Ignore all the following extensions
*.png
*.pdf
*.log
*.pyc
*.xlsx
*.xlsm
*.ppt
*.pptx
*.html
*.sqlite3
*.parquet
*.parquet/

# Ignore the following directories
build/
dist/
notebooks/
explore/
.venv/

.pylint.d/

# Ignore project files
.spyproject/
.vscode/
**/.spyproject/*
**/__pycache__/*
**/__pycache__/

.idea/
.pytest_cache/
